@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/worksans/v9/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGUgGsJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v9/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGU3msJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/worksans/v9/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGU7GsJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/worksans/v9/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v9/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/worksans/v9/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/worksans/v9/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K5fQNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/secularone/v5/8QINdiTajsj_87rMuMdKypDl.ttf) format('truetype');
}
.btn {
  display: inline-block;
  padding: 1.5rem 0;
  width: 300px;
  font-size: 1.5rem;
  text-align: center;
  background: #444547;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #444547;
}
.btn:hover {
  color: #444547;
  background: #ffffff;
}
.bloqueUno {
  width: 100%;
  height: 100vh;
  background: #ffbf37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.bloqueUno header {
  width: 80%;
  height: 20%;
}
.bloqueUno header nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
}
.bloqueUno header nav span .margen {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bolder;
  display: inline-block;
  outline: 4px solid yellow;
  outline-offset: 7px;
  letter-spacing: -1px;
}
.bloqueUno header nav span .rest {
  display: inline-block;
  text-decoration: none;
  color: #444547;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
  padding: 0 10px;
}
.bloqueUno header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}
.bloqueUno header nav ul li a {
  text-decoration: none;
  color: #444547;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: -1px;
}
.bloqueUno header nav ul li a:hover {
  text-decoration: underline;
}
.bloqueUno article {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
}
.bloqueUno article .part1,
.bloqueUno article .part2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bloqueUno article h1 {
  font-size: 2.8rem;
  color: #ffffff;
}
.bloqueUno article p {
  color: #ffffff;
  font-weight: 100;
  line-height: 2;
}
.bloqueUno article .part2 img {
  width: 100%;
  height: auto;
}
.bloqueUno article .part2 span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloqueUno article .part2 span i {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
.bloqueUno article .part2 span i.g {
  color: #444547;
}
.bloqueUno article .part2 span i.b {
  color: #ffffff;
}
.bloqueDos {
  padding: 2.5em 10em;
  max-width: 100%;
}
.bloqueDos .title-container {
  display: flex;
  margin-top: 3em;
}
.bloqueDos .title-container h2 {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  padding: 0.6em 3.5em;
  border-radius: 4px;
  background: #444547;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}
.bloqueDos article {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
}
.bloqueDos article .img-container {
  width: 40%;
}
.bloqueDos article .img-container img {
  width: 100%;
}
.bloqueDos article .info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  width: 60%;
}
.bloqueDos article .info-container p {
  margin: 1em 0;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
}
.bloqueDos article .info-container button {
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background: #ffbf37;
  padding: 1em 2.5em;
}
.bloqueTres {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.bloqueTres .titulo {
  text-transform: uppercase;
  text-align: center;
  padding: 0.6em 3.5em;
  border-radius: 4px;
  background: #444547;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  display: inline-block;
}
.bloqueTres .img-con {
  margin-top: 3em;
  width: 70%;
}
.bloqueTres .img-con img {
  width: 100%;
}
.bloqueCuatro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
  font-family: 'Work Sans', sans-serif;
  padding: 5em;
}
.bloqueCuatro .title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4em;
  padding: 0.6em 3.5em;
  border-radius: 4px;
  background: #444547;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
}
.bloqueCuatro .cards {
  width: 100%;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, auto);
}
.bloqueCuatro .cards .card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}
.bloqueCuatro .cards .card .imagen {
  width: 15%;
  height: 100%;
}
.bloqueCuatro .cards .card .imagen img {
  width: 100%;
  height: auto;
}
.bloqueCuatro .cards .card .words {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bloqueCuatro .cards .card .words h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.bloqueCuatro .cards .card .words p {
  line-height: 2;
  text-align: justify;
  font-weight: 100;
}
.bloqueCuatro .cards .card.back {
  background: #ffbf37;
}
.bloqueCinco {
  margin-top: 3rem;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  overflow: hidden;
}
.bloqueCinco h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 0.6em 3.5em;
  border-radius: 4px;
  background: #444547;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
}
.bloqueCinco table {
  width: 80%;
  height: 80%;
}
.bloqueCinco table h3 {
  text-align: center;
  font-weight: 400;
}
.bloqueCinco table h3.gray {
  color: #a5a5a5;
  font-size: 1.5rem;
}
.bloqueCinco table h3.red {
  color: red;
  font-size: 2rem;
}
.bloqueCinco table h3.yellow {
  color: #ffbf37;
  font-size: 1.5rem;
}
.bloqueCinco table span {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.bloqueCinco table span.gray {
  color: #a5a5a5;
}
.bloqueCinco table span.black {
  font-size: 1.2rem;
  font-weight: bolder;
}
.bloqueCinco table span.p1,
.bloqueCinco table span.p2,
.bloqueCinco table span.p3 {
  font-size: 1.9rem;
  color: #a5a5a5;
}
.bloqueCinco table span.p2 {
  font-size: 2.5rem;
  color: red;
}
.bloqueCinco table span.p3 {
  color: #ffbf37;
}
.bloqueCinco table span.b1,
.bloqueCinco table span.b2,
.bloqueCinco table span.b3 {
  margin-left: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 2em;
  border-radius: 4px;
  background: #a5a5a5;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  font-size: 1.5rem;
  width: 75%;
  font-weight: bold;
}
.bloqueCinco table span.b2 {
  background: red;
  font-weight: bolder;
}
.bloqueCinco table span.b3 {
  background: #ffbf37;
}
.bloqueCinco table thead,
.bloqueCinco table tfoot {
  width: 100%;
  height: 20%;
}
.bloqueCinco table tbody {
  width: 100%;
  height: 60%;
}
.bloqueCinco table td {
  border-spacing: 0;
}
.bloqueCinco table td.center,
.bloqueCinco table td.c1 {
  border-left: 2px solid #ffbf37;
  border-right: 2px solid #ffbf37;
}
.bloqueCinco table td.c1,
.bloqueCinco table td.b {
  border-bottom: 2px solid #ffbf37;
}
.bloqueSeis {
  padding: 3em 10.5em;
  display: flex;
  margin: 3em 0;
  flex-direction: row;
  background-color: #fff;
  background-image: url('https://www.transparenttextures.com/patterns/60-lines.png');
}
.bloqueSeis .img-container {
  width: 40%;
}
.bloqueSeis .img-container img {
  background: white;
  width: 100%;
}
.bloqueSeis .info-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
.bloqueSeis .info-container .title-container {
  display: flex;
}
.bloqueSeis .info-container .title-container h2 {
  text-transform: uppercase;
  padding: 0.6em 3.5em;
  border-radius: 4px;
  background: #444547;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}
.bloqueSeis .info-container p {
  margin-top: 1em;
  line-height: 1.8;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  padding-right: 2em;
  text-align: justify;
}
.bloqueSeis .info-container button {
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background: #ffbf37;
  padding: 1.5em 0;
  margin-top: 1em;
  width: 250px;
}
.bloqueSiete {
  padding: 3em 10.5em;
  display: flex;
  margin: 3em 0;
  flex-direction: column;
  background-color: #fff;
}
.bloqueSiete .title-container {
  display: flex;
  justify-content: center;
}
.bloqueSiete .title-container h2 {
  margin-bottom: 2em;
  text-transform: uppercase;
  padding: 0.6em 3.5em;
  border-radius: 4px;
  background: #444547;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}
.bloqueSiete .business-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  gap: 3em;
  background: #e6e6e6;
  margin-top: 2em;
  border-radius: 5px;
  padding: 2em;
}
.bloqueSiete .business-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bloqueSiete .business-container div p {
  margin-top: 1em;
  font-size: 1.2em;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}
.bloqueSiete .business-container img {
  width: 100%;
  padding: 1rem;
}
.bloqueSiete .business-container > * {
  flex-basis: 100%;
}
.bloqueOcho {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 5em;
}
.bloqueOcho h2 {
  margin-bottom: 3em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.6em 3.5em;
  border-radius: 4px;
  background: #444547;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
}
.bloqueOcho .members {
  width: 100%;
  background: #ffbf37;
  padding: 2em;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(5, auto);
}
.bloqueOcho .members .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  text-transform: uppercase;
  padding: 2.5rem 0.5rem 1.5rem 0.5rem;
}
.bloqueOcho .members .card img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  background: #ffffff;
}
.bloqueOcho .members .card h3 {
  font-weight: bolder;
  font-size: 1.2rem;
}
.bloqueOcho .members .card span {
  font-weight: 200;
}
.bloqueNueve {
  display: flex;
  flex-direction: column;
}
.bloqueNueve .title-container {
  display: flex;
  justify-content: center;
}
.bloqueNueve .title-container h2 {
  margin-bottom: 2em;
  text-transform: uppercase;
  padding: 0.6em 3.5em;
  border-radius: 4px;
  background: #444547;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}
.bloqueNueve div {
  display: flex;
  flex-direction: row-reverse;
  padding: 1em 10em;
}
.bloqueNueve div .img-container {
  width: 50%;
}
.bloqueNueve div .img-container img {
  background: white;
  width: 100%;
}
.bloqueNueve div .info-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}
.bloqueNueve div .info-container p {
  margin-top: 1em;
  line-height: 1.8;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  padding-right: 2em;
  text-align: justify;
}
.bloqueNueve div .info-container button {
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background: #ffbf37;
  padding: 1.5em 0;
  margin-top: 1em;
  width: 250px;
}
.bloqueDiez {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloqueDiez .fondo {
  width: 80%;
  height: 80%;
}
.bloqueDiez .fondo .imagen {
  width: 100%;
  height: 80%;
  background: url('../../../media/1.jpg'), #ffbf37;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.bloqueDiez .fondo .words {
  width: 100%;
  height: 20%;
  background: #ffbf37;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: bolder;
}
.bloqueDiez .fondo .words span {
  font-size: 1.7rem;
}
.bloqueDiez .fondo .words h3 {
  display: inline-block;
  background: #ffffff;
  color: black;
  padding: 1rem 5rem;
}
footer {
  background: #444547;
  padding: 0 2em;
}
footer .links {
  display: flex;
  color: #ffffff;
  margin: 2em 0;
}
footer .links div {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}
footer .links div h3 {
  font-family: 'Work Sans', sans-serif;
  margin: 1.5em 0;
}
footer .links div li {
  color: #b3b3b3;
  line-height: 2;
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  cursor: pointer;
}
footer .links > * {
  flex-basis: 100%;
}
footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-media i {
  cursor: pointer;
  border-radius: 2px;
  margin: 0 2.5px;
  background: #ffbf37;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
footer p {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding: 2em 0;
  color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
