//Bloque#2 - what we do
.bloqueDos {
	padding: 2em;
	.title-container {
		display: flex;
		margin-top: 3em;

		h2 {
			margin: 0 auto;
			text-transform: uppercase;
			text-align: center;
			padding: 0.6em 3.5em;
			border-radius: 4px;
			background: @gris-300;
			color: @blanco;
			font-family: @Ws;
			font-weight: 500;
		}
	}

	article {
		display: flex;
		flex-direction: row;

		.info-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding: 2em;

			p {
				text-align: justify;
			}

			button {
				background: @amarillo;
				padding: 1em;
			}
		}
	}
}
