.bloqueSeis {
	padding: 3em 10.5em;
	display: flex;
	margin: 3em 0;
	flex-direction: row;
	background-color: #fff;
	background-image: url('https://www.transparenttextures.com/patterns/60-lines.png');

	.img-container {
		width: 40%;

		img {
			background: white;
			width: 100%;
		}
	}

	.info-container {
		width: 60%;
		display: flex;
		flex-direction: column;
		margin-left: 1em;

		.title-container {
			display: flex;

			h2 {
				text-transform: uppercase;
				padding: 0.6em 3.5em;
				border-radius: 4px;
				background: @gris-300;
				color: @blanco;
				font-family: @Ws;
				font-weight: 500;
			}
		}

		p {
			margin-top: 1em;
			line-height: 1.8;
			font-family: @Qs;
			font-weight: 100;
			font-size: 1.1em;
			padding-right: 2em;
			text-align: justify;
		}
		button {
			border: none;
			border-radius: 3px;
			font-weight: bold;
			background: @amarillo;
			padding: 1.5em 0;
			margin-top: 1em;
			width: 250px;
		}
	}
}
